@media only screen and (max-width: 1000px) {

 body {
  
     margin-left:0%;
     margin-right:0%;
     padding:0px; 
     height:100vh;
 }
 /*NAV  BAR*/
header {
    height:110px;
    
}
 
.topBar {
   list-style:none;
    text-align:center;
    font-family: 'Adamina', serif; 
    line-height:9.5em;
    height:110px;
}
 
.fontify {
    font-size:45px;
    text-align: center;
 
    margin-top:15%;
    height:50%;      
} 
 .br-fullpage-nav li .br-fullpage-nav-item{
     margin-top: 10%;
 }  
 
 .navbar-collapse {
    width:100%;
     
}
 
 
 /*HOME PAGE*/
.myFace {
      height:55vh;
      margin: 0 auto;
      width:100%;
      margin-top:10%;
      text-align: center;      
  }  
.samIAm {
    width:100%;
    margin-top:-3%;
    
   
}

.sam {
    font-family: 'Adamina', serif;
    font-size:50px; 
    bottom:0;  
}

.samuel {
    font-size:30px;
    bottom: 1;
}

/*ABOUT ME    */

 .aboutHolder {
        width:80%;
        margin-left:10%;
        padding-top:10px;      
 }
 .aboutHolder h1 {
     font-size:8vh;
     top: 30;
 }
    
 .aboutHolder p {
     font-size:2.5vh;
     margin-top:5%;
 } 
   

/*PROJECTS*/

/*
.myDojo
{
     width:100%;
    height:20%;
    margin-left:0%;
    margin-top:0%;
    margin-bottom:1%;
}

.myDojo img {
    margin-bottom:0%;
     width:100%;
    height:100%;
    
}
.parent{
     width:23vh;
    height:20vh;
    margin-left:40%;  
    margin-bottom:-5%; 
}
.parent img {
    margin-left:0%;
    margin-bottom: 2%;
    height:20vh;
    width:23vh;
}
.child{
   margin-left:-27.5%;
   margin-top:-38%;
   margin-bottom:5%;
   bottom:50;
    height:22%;
    width:55vh;
}
.portfolioText {
    font-size:30px;
    margin-top: 5%;
    margin-left:3%;
    margin-right:3%;
}
.topText {
    font-size:30px;
    margin-top: 4%;
    margin-left:5%;
    margin-right:5%;
}

.journeyParent {
    width:23vh;
    height:20vh;
   margin-right:0%;
    margin-left:40%;
    margin-top:15%
}


.journeyParent img {
    margin-left:0%;
    margin-bottom: 5%;
    height:20vh;
    width:23vh;
}


.jild{
   margin-left:-23%;
   margin-top: -40%;
   margin-bottom:5%;
    height:23%;
    width:50vh; 
    bottom:500;
}

.assParent {
    width:23vh;
    height:20vh;
    margin-right:0%;
    margin-left:40%;
    margin-top:-6%;
    bottom:500;
    
}

.assParent img {
   margin-left:0%;
    margin-bottom: 5%;
    height:20vh;
    width:23vh;
}

.assild{ 
   margin-left:-23%;
   margin-top:-37%;
   margin-bottom:5%;
    height:20%;
    width:50vh; 
}*/



/*CONTACT ME*/
/*.contactLine {
    text-align: center;
}

.contactHeader {
    font-size:5vh;
    margin-top:10vh;
}

.myEmail {
    font-size:3.5vh;  
}

.github{ 
    width:100px;
    height:100px; 
}  

.socialIcons{
    margin-top:-5%;
    height:100px;
    box-sizing: border-box;
  
}*/

  
    
} /*END*/
