@import url(https://fonts.googleapis.com/css?family=Lora);
 
@import url(https://fonts.googleapis.com/css?family=Adamina);

header {
  margin: 0 auto;
  text-align: center;
  background-color:none;
  height:51px;
}
body {
    background-color:none;
    width:100%;
}
@font-face {
   font-family: Permanet Marker; 
   src: url('PermanentMarker.ttf');
} 


section .class {
 width:100%; 

}

section .container {
    width:100vw;
    margin-left:0;
    padding: 0px;
}

.container {
    padding-right: 0px;
    padding-left:0px;
}

.myFace {
    height:55vh;
    width:55%;
    background-image: url("./images/crazy.jpg");
    background-size:90% 100%;
    opacity:.1%;
    margin-top:6%;
    margin-left:20%;

}

.samIAm {
    width:100%;
    position:absolute;
    text-align: center;
    bottom:20;
   
    /*background-color:#E0E0E0;*/
}

.sam {
    font-family: 'Adamina', serif;
    bottom:20;
    
}



.top {
    font-family: 'Lora', serif; 
    font-size:25px;
    margin-left:5%;
    margin-right:5%;
   text-decoration: none;
}

.top:hover {
    text-decoration:underline;
}

.top:visited {
   color:black;
}
.homeDiv {
     height:32em;
    width:60em;
    background-image: url("./images/myPhoto.jpg");
    background-size:60em 32em;
    opacity:.1%;
    margin:0 auto;
    margin-top: 5%;
    margin-left:32%;
}


.mainText {
    size:30px;
    font-family: Permanet Marker;
    background-color:white;
    width:80%;
    margin-left: 39%;
  margin-top:-6%;
    
}

/*--------------PORTFOLIO---------------*/

.projectHolder{
    /*display:flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    display: -webkit-flex;
     -webkit-flex-wrap: wrap;
    flex-wrap:wrap;*/
    height:100vh;
    width:100%;
}


.journeyParent img{
     /*display:flex;
    flex-wrap:wrap;
    -webkit-display:-webkit-flex;
    -webkit-flex: 1 0 200px;
    flex: 1 0 200px;
     -webkit-flex-wrap: wrap;*/
    width:65%;
    height:100%;
    margin: 0 17.5%;
    
    /*margin-right:20%;
    margin-left:60%;*/
}
.jild
{
    position: absolute;
    margin-left:255px;
    bottom: 10;
    background-color: black;
    opacity: 0.8;
    display:none;
    width:235px;
    height:235px;
    margin-top:-235px;
    border-radius: 125px 125px;
    cursor: pointer;
}
.assParent img {
    /*display:flex;
    flex-wrap:wrap;
     -webkit-display:-webkit-flex;
    -webkit-flex: 1 0 200px;
    flex: 1 0 200px;
     -webkit-flex-wrap: wrap;*/
    width:65%;
    height:100%;
    margin: 0 17.5%;
   
    /*margin-right:20%;
    margin-left:50%;*/
    
}
.assild
{
   position: absolute;
    margin-left:255px;
    bottom: 10;
    background-color: black;
    opacity: 0.8;
    display:none;
    width:235px;
    height:235px;
    margin-top:-235px;
    border-radius: 125px 125px;
    cursor: pointer;
}

.parent img
{
    /*display:flex;
    flex-wrap:wrap;
     -webkit-display:-webkit-flex;
    -webkit-flex: 1 0 200px;
    flex: 1 0 200px;
     -webkit-flex-wrap: wrap;*/
    width:65%;
    height:100%;
    margin: 0 17.5%;
  
     /*margin-right:20%;
    margin-left:50%;*/
}
.myDojo img
{
    /*display:flex;
    flex-wrap:wrap;
     -webkit-display:-webkit-flex;
    -webkit-flex: 1 0 200px;
    flex: 1 0 200px;
     -webkit-flex-wrap: wrap;*/
    width:65%;
    height:100%;
    margin: 0 17.5%;
     /*margin-right:20%;
    margin-left:60%;*/
  
}

.child
{
   position: absolute;
    margin-left:255px;
    bottom: 10;
    background-color: black;
    opacity: 0.8;
    display:none;
    width:235px;
    height:235px; 
    margin-top:-235px;
    border-radius: 125px 125px;
    cursor: pointer;
}
.textDojo
{
   position: absolute;
    margin-left:255px;
    bottom: 10;
    background-color: black;
    opacity: 0.8;
    display:none;
    width:235px;
    height:235px;
    margin-top:-235px;
    border-radius: 125px 125px;
    cursor: pointer;
}   

.topText{
     text-align: center;
    font-family: 'Adamina', serif;
    font-size:10px;
    margin-left:20%;
    margin-right:20%;
    margin-top:10%;
    line-height: 1.8em;
    color:white;  
    opacity: 1;  
}


.portfolioText{
    text-align: center;
    font-family: 'Adamina', serif;
    font-size:10px;
    margin-left:20%;
    margin-right:20%;
    margin-top:20%;
    line-height: 1.8em;
    color:white;  
    opacity: 1;  
}


.parent {
    width:100%;
    height:20%;
    margin-top:1%;
    margin-bottom:0%;

}

.journeyParent {
    width:100%;
    height:20%;
    margin-bottom:1%;
    margin-top:1%;
}

.assParent {
    width: 100%;
    height:20%;
}




/*----------CONTACT PAGE------------*/

.title {
  text-align: center;
    padding-top: 20px;
   font-family: Permanet Marker;
   color:red;
   font-size:45px;
}

.home {
    color:white;
    margin-top:-1%;
    margin-left:8%;
}



.form {
    margin:0 auto;
    padding:0;
    width:90%;
    margin-left:15%;
    margin-top:6%;
   
}

.formInput {
      border: 5px solid black;
    padding: 10px;
    background: rgba(230,230,230,1);
    margin: 0 auto;
    width: 250px;
    margin-left:25%;
    bottom:-50;
}
.topper{
    margin-left:5%;
}

.middle {
    margin-left:4.5%;
}

.bottom {
    margin-left:4%;
}


.fields {
   
   font-family: Permanet Marker;
   font-size:20px;
}

.name{
    margin-left: 5.5%;
    
}

.email {
    margin-left:3%;
}


.btnSend {
    background: red;
	padding:10px 13px;
	color:black;
	 font-family: Permanet Marker;
	font-size:18px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid black;
    margin-left:43%;  
}


.btnReset {
    background: red;
	padding:10px 15px;
	color:black;
	 font-family: Permanet Marker;
	font-size:18px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid black;
    margin-left:5%;  
}



/*------------------------ABOUT PAGE------------------*/

.aboutContainer {
   height:100vh;
   width:100vw;
    background-image: url("./images/coder.jpg");
    background-size: 100% 100%;
    
}

.aboutHolder {
    width:50%;
    height:80vh;
   padding-top:5px;
    text-align: center;
    color:black;
    font-family: 'Adamina', serif;
    margin: 0 auto;
}

.aboutHolder h1 {
    color:white;
    font-family: 'Adamina', serif;
    margin-top:5%;
    font-size:3.5em;
}
.insideText {
    text-align: center;
    font-family: 'Adamina', serif;
    margin-left:5%;
    margin-right:5%;
    font-size:2em;
   margin-top:6%;
   height:80vh;
    line-height: 1.5em;
    color:white;
}

/*CONTACT*/
.contactLine {
    width:100%;
    margin:0 auto;
    text-align:center;
    margin-top:30vh;
    margin-bottom:2%;
}
.contactHeader{
   font-family: 'Adamina', serif;
   font-size:50px;
}

.singleLine {
    font-size:100px;
    line-height: .5em;
    margin-bottom:4%;
  
}
.myEmail {
    font-size:30px;
    text-decoration: underline;
    margin-top:3%;
    font-family: 'Adamina', serif;
}

.socialIcons {
    width:100%;
    text-align: center;
}

.github{
    width:75px;
    height:75px;
}
 /*NAVBAR*/
.topBar {
   list-style:none;
   background-color:white;
    text-align:center;
    width:100%;
    height:51px;
    font-family: 'Adamina', serif;
    margin-top:20%;    
    line-height:4.5em;
    display:flex;
     display:-webkit-flex;
     -webkit-justify-content: center;
}



.fontify{
       font-family: 'Adamina', serif;
       font-size: 20px;
       color:#737070;    
       display:flex;
      -webkit-display:-webkit-flex;
      -webkit-flex: 1 0 200px;
       flex: 1 0 200px;
       padding-left:20px;
       padding-right:60px;
       float:left;   
}












/*FULL PAGE*/
.br-fullpage-wrapper{
    display:none;
    overflow:hidden;
    position:relative
}

.br-fullpage{
position:relative;
width:100%;
-webkit-transition:margin 1s cubic-bezier(0.25,.25,.25,.25);
transition:margin 1s 
cubic-bezier(0.25,.25,.25,.25);
z-index:1;
overflow:hidden
}

.br-fullpage-nav{
 position:fixed;
 list-style-type:none;
}

.br-fullpage-nav li{
margin:0 auto;
}

.navbar-collapse {
 width:100%;
float:left;
}

.navbar-collapse{
    padding-right:0px;
    padding-right:0px;
}

.br-fullpage-nav li .br-fullpage-nav-item{
    
display:block;
height:7px;
border:thin solid;
box-sizing:border-box;
border-radius:7px;
color:white;
}

.br-fullpage-nav li .br-fullpage-nav-item.active{
  background-color:none;
;}



.icon-bar {
    color:white;
}

.section {
  text-align:center;
  font-size: 3em;
  color:white;
  
  /* This is important to make the button position relative to the section*/
  position:relative;
}


/**
Absolute in relation to the section
*/
#moveLeft{
  top: 20px;
  left: 20px;
  position:absolute;
  z-index:999;
  font-size: 1em;
  cursor:pointer;
}



